<% if !params[:locale].present? || params[:locale] == "ar" %>
  <div class="text-right">
<% else %>
  <div class="text-left">
<% end %>

<h2><%= t(".title", resource: resource_class.model_name.human) %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :Fname, required: true, autofocus: true %>
    <%= f.input :Lname, required: true %>
    <%= f.input :email, required: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
    <%= f.input :Age, required: true %>
    <%= f.input :City, collection: User.Cities.keys, required: true %>
    <%= f.input :Accommodation, collection: User.Accommodations.keys, required: true %>
    <%= f.input :Q1, required: true %>
    <%= f.input :Q2, required: true %>
    <%= f.input :Q3, required: true %>
    <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
    <%= f.input :password_confirmation, required: false %>
    <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
    <b>Photo</b>
    <%= f.input :photo, as: :attachinary ,label: false%>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t(".update") %>
  </div>
<% end %>

<h3><%= t(".cancel_my_account") %></h3>

<p><%= t(".unhappy") %> <%= link_to t(".cancel_my_account"), registration_path(resource_name), data: { confirm: t(".are_you_sure") }, method: :delete %></p>

<%= link_to t("devise.shared.links.back"), :back %>
</div>
